*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(75, 204, 255), rgb(255, 35, 255));
    height: 600vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    gap: 20px;
}

.circular-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: rgb(168, 177, 159);
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: beige;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: rgb(30, 59, 121);
}